# PlatformIO
.pio/
.pioenvs/
.piolibdeps/

# Arduino IDE
build/
*.elf
*.bin
*.hex
*.map

# ESP-IDF
sdkconfig.old
build/
managed_components/

# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/c_cpp_properties.json

# JetBrains / CLion
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Linux
*~
